<div class="set-container">
    <div style="background-image: url(@BeatmapSet.Covers.Cover)" class="set-title">
    </div>
    <div class="set-body">
        <h4>@BeatmapSet.Title</h4>
        @foreach (var mode in Difficulties)
        {
            <div class="mode-section">
                <p class="mode-name">@_displayNames[mode.Key]</p>
                @foreach (var diff in mode.Select(x => x).OrderBy(x => x.Difficulty).ToList())
                {
                    @if (IsChildComponent)
                    {
                        <div @onclick="@(() => SelectDiff(diff.DiffId))">
                            <a href="javascript:void(0);">@diff.DiffName - @diff.Difficulty*</a>
                        </div>
                    }
                    else
                    {
                        <p>@diff.DiffName - @diff.Difficulty*</p>
                    }
                }
            </div>
        }
    </div>
</div>