@using OsuThing.Models
<div>
    <img src="@Score.BeatmapSet.Covers.Cover" alt="Beatmap image for @Score.BeatmapSet.Title" class="cover-img"/>
    <h3>
        <a href="https://osu.ppy.sh/beatmapsets/@Score.BeatmapSet.Id/#osu/@Score.Beatmap!.DiffId">@Score.BeatmapSet.Title
            <span class="diffName"> - [@Score.Beatmap.DiffName]</span>
        </a>
    </h3>
    <p>@Score.Beatmap!.Difficulty* (@Score.GetModsAsString())</p>
    <p>
        Accuracy: @Score.GetRoundedAccuracy()% 
        Combo: <span class="@(Score.FullCombo ? "fc" : "")">@(Score.MaxCombo)x</span>
        PP: @(Score.Pp == null ? "None" : Score.Pp)
    </p>
    <p>
        300s: @Score.ScoreStats.ThreeHundreds
        100s: @Score.ScoreStats.Hundreds
        50s: @Score.ScoreStats.Fifties
        Misses: @Score.ScoreStats.Misses
    </p>
    <a href="comparison?beatmapId=@Score.Beatmap.DiffId&username=@Username">
        Compare
    </a>
</div>

@code
{
    [Parameter] public required ScoreModel Score { get; set; }
    [Parameter] public string Username { get; set; } = "";
}
