@using OsuThing.Models
<div>
    @if (Score is not null)
    {
        <img src="@Score.BeatmapSet.Covers.Cover" alt="Beatmap image for @Score.BeatmapSet.Title" class="cover-img"/>
        <h3>
            <a href="https://osu.ppy.sh/beatmapsets/@Score.BeatmapSet.Id/#osu/@Score.Beatmap!.DiffId">@Score.BeatmapSet.Title
                <span class="diffName"> - [@Score.Beatmap.DiffName]</span>
            </a>
        </h3>
    }
    <p>@Score!.Beatmap!.Difficulty* (@Score.GetModsAsString())</p>
    @if (Score.Pp == null)
    {
        <p>Accuracy of @Score.GetRoundedAccuracy()% and max combo of @Score.MaxCombo but no PP :(</p>
    }
    else
    {
        <p>Accuracy of @Score.GetRoundedAccuracy()% and max combo of @Score.MaxCombo for a PP value of @Score.Pp</p>
    }
    <a href="comparison?beatmapId=@Score.Beatmap.DiffId&username=@Username">
        Compare
    </a>
</div>

@code
{
    [Parameter] public ScoreModel? Score { get; set; }
    [Parameter] public string Username { get; set; } = "";
}
