@page "/among"
@using OsuThing.Services
@using OsuThing.Models

<PageTitle>osu! gaming time</PageTitle>
<h3>Osu</h3>
@if (_vexo == null)
{
    <p>Loading...</p>
}
else
{
    <p>Response is @_vexo.ExpiresIn</p>
}
@if (_scores != null)
{
    @foreach (var score in _scores)
    {
        <h1>@score.BeatmapSet!.Title</h1>
        @if (score.Pp == null)
        {
            <p>Accuracy of @score.GetRoundedAccuracy()% and max combo of @score.MaxCombo but no PP :(</p>
        }
        else
        {
            <p>Accuracy of @score.GetRoundedAccuracy()% and max combo of @score.MaxCombo for a PP value of @score.Pp</p>
        }
    } 
}

@code
{
    AuthenticationModel? _vexo;
    IEnumerable<ScoreModel>? _scores;

    protected override async Task OnInitializedAsync()
    {
        _vexo = await AuthenticationService.Authenticate();
        if (_vexo != null) _scores = await ScoreService.GetUserScores(_vexo, "13047286", "best", 15);
    }
}