@page "/comparison"
@using OsuThing.Pages.Components

<PageTitle>Score Comparison</PageTitle>

<h2>Score Comparison</h2>

@if (_getScoreButtonClicked)
{
    @if (_score1 is not null && _score2 is not null)
    {    
        <div class="score-display">
            <ComparisonPanel 
                User1="_user1"
                User2="_user2"
                UserScore1="_score1.Score"
                UserScore2="_score2.Score"
                BeatmapSet="_beatmapSet"
                Beatmap="_beatmap"
                CloseComparisonCallback="HandleComparisonClosed"/>
        </div>
    }
    else
    {
        <p>Loading scores...</p>
    }
}
else
{
    @if (_searchButtonClicked)
    {
        <div class="search-container">
            <Search IsChildComponent="true" CloseSearchCallback="@SearchClosed" SelectDiffCallback="GetMapFromSearch"/>
        </div>
    }
    else
    {
        <div class="user-input-container">
            <div class="user-input">
                <UserSelector HandleUserFound="HandleUserOneSelected" Label="User one:" InitialValue="@_username1"/>
            </div>
            <div class="user-input">
                <UserSelector HandleUserFound="HandleUserTwoSelected" Label="User Two:" InitialValue="@_username2"/>
            </div>
            <div class="user-input">
                <button @onclick="SearchButtonClicked">Search for beatmap</button>
                @if (_beatmapSet != null)
                {
                    <div class="selected-map">
                        <a href="https://osu.ppy.sh/beatmapsets/@_beatmapSet.Id">
                            <h4>@_beatmapSet.Title - @_beatmap!.DiffName</h4>
                            <img src="@_beatmapSet.Covers.Card" alt="Beatmap art for @_beatmapSet.Title"/>
                        </a>

                    </div>
                }
            </div>
        </div>
        <button disabled="@IsGetButtonDisabled()" @onclick="FindScores">Get scores</button>
    }
}


