@page "/search"

@if (!IsChildComponent)
{
    <PageTitle>User Scores</PageTitle>
    <h2>Beatmap search</h2>  
}
else
{
    <div @onclick="CloseSearch">
        <a href="javascript:void(0);">&#60; Back</a>
    </div>
}


<input type="text" @bind="SearchInput" @onkeyup="ClickSearchButton"/>
<button @onclick="SearchForSets">Search</button>

@if (BeatmapSets != null && BeatmapSets.Count() != 0)
{
    @foreach (var beatmapSet in BeatmapSets)
    {
        <div class="set-container">
            <div style="background-image: url(@beatmapSet.Covers.Cover)" class="set-title">
            </div>
            <div class="set-body">
                <h4>@beatmapSet.Title</h4>
                @foreach (var diff in beatmapSet.Difficulties!)
                {
                    @if (IsChildComponent)
                    {
                        <div @onclick="@(() => SelectDiff(diff.DiffId))">
                            <a href="javascript:void(0);">@diff.DiffName - @diff.Difficulty*</a>
                        </div>
                    }
                    else
                    {
                        <p>@diff.DiffName - @diff.Difficulty*</p>
                    }
                }
            </div>
        </div>
    }
}