@page "/top-players"
@using OsuThing.Enums
@using OsuThing.Pages.Components

<h2>Top Players</h2>

@* <div class="mode-buttons"> *@
@*     <button disabled="@(Mode == "osu")" @onclick="@(() => SetMode("osu"))">Standard</button> *@
@*     <button disabled="@(Mode == "mania")" @onclick="@(() => SetMode("mania"))">Mania</button> *@
@*     <button disabled="@(Mode == "taiko")" @onclick="@(() => SetMode("taiko"))">Taiko</button> *@
@*     <button disabled="@(Mode == "fruits")" @onclick="@(() => SetMode("fruits"))">CTB</button> *@
@* </div> *@
<ButtonSelection TSelectionEnum="Mode" ChoiceDict="_modeSelections" SelectionCallback="SelectModeCallback"></ButtonSelection>

@if (!Users.Any())
{
    <p>Loading...</p>    
}

@foreach(var user in Users)
{
    <UserDisplay User="user"/>
}