@page "/userScores"

<PageTitle>User Scores</PageTitle>
<h2>osu!</h2>

<div class="user-input">
    <input type="text" @oninput="args => FindUser(args.Value?.ToString())"/>
    @if (_user is {Username: not null })
    {
        <p>Current user:</p>
        <a href="https://osu.ppy.sh/users/@_user.Id">
            <h4>@_user.Username</h4>
            <img src="@_user.Avatar" alt="Avatar for @_user.Username" class="avatar"/>
        </a>
    }
</div>
<div class="score-input">
    <p>Number of scores:</p>
    <input type="text" @bind-value="_scoreCount" @bind-value:event="oninput"/>
    <button @onclick="GetScores" disabled="@IsScoreButtonDisabled()">Get scores</button>
    <ul class="button-group">
        <button @onclick="() => SetScoreType(Best)">Best</button>
        <button @onclick="() => SetScoreType(Recent)">Recent</button>
        <button @onclick="() => SetScoreType(Firsts)">Firsts</button>
    </ul>
    <p>Current selection: @CapitaliseString(_scoreType)</p>
    <p>@_scoresMessage</p>
</div>
@if (_authentication == null)
{
    <p>Loading...</p>
}
@foreach (var score in _scores)
{
    <UserScore Score="score"/>
}