@page "/userScores"
@using OsuThing.Enums
@using OsuThing.Pages.Components

<PageTitle>User Scores</PageTitle>
<h2>User Scores</h2>

<div class="user-input">
    <UserSelector HandleUserFound="HandleUserSelected" InitialValue="@(User ?? "")"/>
    @if (_user is { Username: not null })
    {
        <p>Current user:</p>
        <a href="https://osu.ppy.sh/users/@_user.Id">
            <h4>@_user.Username</h4>
            <img src="@_user.Avatar" alt="Avatar for @_user.Username" class="avatar"/>
        </a>
    }
</div>
<div class="score-input">
    <p>Number of scores:</p>
    <input type="text" @bind-value="_scoreCount" @bind-value:event="oninput"/>
    <button @onclick="GetScores" disabled="@IsScoreButtonDisabled()">Get scores</button>
    <ul class="button-group">
        <button @onclick="() => SetScoreType(UserScoreType.Best)">Best</button>
        <button @onclick="() => SetScoreType(UserScoreType.Recent)">Recent</button>
        <button @onclick="() => SetScoreType(UserScoreType.Firsts)">Firsts</button>
    </ul>
    <p>Current selection: @CapitaliseString(_scoreType.ToString())</p>
    <p>@_scoresMessage</p>
</div>
@foreach (var score in _scores)
{
    <UserScore Score="score" Username="@_user!.Username"/>
}